* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: blanchedalmond;
    display: grid;
    align-content: center;
    justify-content: center;
}

.calculator {
    background-color: white;
    margin: 1px;
    padding: 1px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: 100px 500px
}

.screen-area {
    display: flex;
    margin: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .75);
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 24px;
}

.button-area {
    margin: 3px;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: lightblue;
    outline: none;
}

button {
    border: white 1px solid;
    font-size: larger;
    outline: none;
}

.number {
    background-color: beige;
}

.operator {
    background-color: grey;
}

.misc {
    background-color: grey;
}

#equals {
    grid-row: span 2;
}

#zero {
    grid-column: span 2;
}


button:hover {
    background-color: rgb(193, 14, 14);
}